<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <title>Express</title>

    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js'></script>
    <script type='text/javascript' src='/javascripts/bootstrap/dist/js/bootstrap.js'></script>
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js'></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"></link>
    <script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.js'></script>
    <script type="text/javascript" src="/javascripts/routerApp.js"></script>
    <script type="text/javascript" src="/javascripts/angularjs/angular-route.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">

  </head>

  <body>
    {{message}}
    {{error}}
  </body>
</html>
