<!DOCTYPE html>
<html>
  <head>
    <title>어서와용</title>
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js'></script>
    <link rel="stylesheet" href="/stylesheets/login.css">
  </head>
  <script type="text/javascript">
  function next(){
    $('form').attr({action:'/login', method:'post'}).submit();
  }

  $(document).ready(function() {
    $("#login-button").click(function(event){
   		 event.preventDefault();
     $("#title").html("Login.....");
   	 $('form').fadeOut(500);
   	 $('.wrapper').addClass('form-success');

     setTimeout("next()", 5000);
   });
 });
  </script>
<body>

  <div class="wrapper">
	<div class="container">
		<h1 id='title'><%= title %></h1>

		<form class="form">
			<input type="text" placeholder="Username" name="email">
			<input type="password" placeholder="Password" name="password">
			<button type="submit" id="login-button">Login</button>
		</form>
	</div>

	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
</div>

</body>
