<!DOCTYPE html>
<html>
  <head>
    <title>어서와용</title>
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js'></script>
    <link rel="stylesheet" href="/stylesheets/login.css">
  </head>
<body>

  <div class="wrapper">
	<div class="container">
		<h1>Welcome</h1>

		<form class="form">
			<input type="text" placeholder="Username">
			<input type="password" placeholder="Password">
			<button type="submit" id="login-button">Login</button>
		</form>
	</div>

	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
</div>

</body>
