<h1>
메인페이지입니다.
</h1>

<div ng-controller='mainCtl'>
  <button ng-click='hide_nav()'>aaaa</button>
</div>


<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>
