<h1>
메인페이지입니다.
</h1>

<div ng-controller='mainCtl'>
  <button ng-click='hide_nav()'>aaaa</button>
</div>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '706997686105976',
      xfbml      : true,
      version    : 'v2.7'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>
