<div ng-controller='appWord'>
  <textarea class="form-control" rows="3" ng-model='sentence'></textarea>
  <button type="button" class="btn btn-primary" ng-click='send_sentence()'>전송</button>
  <div>
    {{result}}
  </div>
</div>
<label>
  <input type="checkbox" ng-model="checked" style="float:left; margin-right:10px;"> Is Visible...
</label>

<div class='temp' ng-show='checked'>
  <textarea class="form-control" rows="3" ></textarea>
  <button type="button" class="btn btn-primary" >전송</button>
</div>
